.main-title {
  color: lighten(#fff, 40%);
  font-size: 18px;
  margin-left: 10%;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.board-position {
  margin-left: 5%;
  width: 10%;  
}

.boards-button {
  font-size: 20px;
  color: black;
  height: 50px;
    &:hover {
    text-decoration: none;
  }
}

.board-title {
  position: relative;
  left: 40%;
  top: 20%;
  &:hover {
    text-decoration: none;
  }
}
